version: '3.9'
services:
  api:
    build: .
    command: poetry run python -m app.api
    restart: always
    container_name: "api"
    networks:
      - postgres
    ports:
      - "8000:8001"

  postgres:
    image: postgres
    environment:
      POSTGRES_DB: menu_service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres:/data/postgres
    networks:
      - postgres
    restart: unless-stopped


networks:
  postgres:

volumes:
  postgres: